/* RESET STYLES */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: sans-serif;
  overflow: hidden;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weigth: bold;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.left-container {
  background: var(--background-main, red);
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.right-container {
  flex: 1.5;
  background: var(--schedule-background-color, red);
  display: flex;
  flex-direction: column;
}

.right_container-header {
  font-size: 2rem;
  color: var(--primary-font-color-schedule, red);
  text-transform: uppercase;
  margin-top: 4rem;
  font-weight: 900;
  margin-bottom: 6rem;
  text-align: center;
}

.navbar-container {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  aspect-ratio: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.image-container {
  width: 100px;
  height: 100px;
}

.time-container {
  color: var(--font-color-primary, red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.time-header {
  font-size: 2rem;
  color: var(--primary-font-color, red);
}

.time-header.center {
  text-align: center;
  font-weight: bold;
}

.time-desc {
  font-size: 1rem;
  color: var(--muted-font-color, red);
}

.meeting-container {
  padding-left: 2rem;
}

.meeting-container h1 {
  color: var(--primary-font-color, red);
  font-weight: 900;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.progress-container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.progress-container h4 {
  color: var(--muted-font-color, red);
  letter-spacing: 0.1px;
}

.progress_time-text {
  color: var(--primary-font-color, red);
  font-size: 3.4rem;
  font-weight: 100;
}

.progress-title {
  color: var(--muted-font-color, red);
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
}

.upcoming-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-content {
  padding: 4rem 3rem;
  color: var(--progress-font-color, red);
}

.upcoming {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--progress-background-color, red);
  border: 10px solid var(--primary-font-color-schedule, red);
  color: var(--progress-font-color, red);
  border-radius: 10px;
}

.upcoming .progress_time-text,
.upcoming .progress-title {
  color: var(--progress-font-color, red);
}

.booking-container {
  margin: 0 auto;
  width: 95%;
  border-radius: 10px;
  border: 2px solid var(--booking-font-color, red);
  overflow: hidden;
  margin-bottom: 2rem;
}

.booking-content {
  padding: 0.8rem 1rem;
  background: var(--booking-background-color, red);
}

.booking-text {
  font-weight: 900;
  letter-spacing: 0.1px;
  color: var(--booking-font-color, red);
}

.booking-subtitle {
  color: var(--booking-muted-font-color, red);
}

.schedule-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.meeting_schedule-container {
  width: 80%;
  display: flex;
  justify-content: center;
  background: var(--schedule-background-container-color, red);
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 5px;
}

.meeting_schedule-container.active {
  background: var(--secondary-color, red);
  color: var(--font-color-primary, red);
}

.meeting_schedule-container h1 {
  font-size: 2rem;
  font-weight: 200;
}

.meeting_schedule-container h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--muted-font-color-schedule, red);
  font-weight: bold;
}

.meeting_schedule-container.gradient {
  background-image: linear-gradient(
    to right,
    var(--tertiary-color, red) 1%,
    var(--secondary-color, red)
  );

  border: 2px solid var(--font-color-primary, red);
}

.meeting_schedule-container.gradient h1,
.meeting_schedule-container.gradient h3 {
  color: var(--font-color-primary, red);
}

.meeting_schedule-container.active h3 {
  color: var(--font-color-primary, red);
}

.schedule-subtitle {
  color: var(--muted-font-color-schedule, red);
  letter-spacing: 0.4px;
  opacity: 0.8;
  text-align: center;
}

.schedule-text {
  color: var(--primary-font-color-schedule, red);

  letter-spacing: 0.1px;
  text-decoration: none;
  font-weight: 900;
}

.schedule-subtitle a:hover {
  text-decoration: underline;
}

.error-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.error-content {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-content h1 {
  color: red;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}

.meeting_schedule-active {
  display: flex;
  align-items: center;
}

.meeting_schedule-active * {
  color: var(--primary-font-color-schedule, red);
  font-weight: bold;
  margin: 0;
}

.meeting_schedule-active .active-button {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.active-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
